:root{
    --primary-1-color: ;
    --primary-2-color: #008000;
    --secondary-3-color: #ffff00;
    --secondary-1-color: #ffffff;
    --secondary-2-color: #000000;
    --text-color: #ffffff;
    



}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'sans-serif', Arial, Helvetica;
    font-size: 10px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#wrapper{
    background: rgb(226, 224, 224);
    width: 60rem;

}

#logo{
    text-align: center;
    background-color: var(--primary-2-color);
    
}

/*header syle*/
#logo img{

    border-radius: 30rem;
    width: 9rem;
    padding: 20px 0 0 0;
    
}
#logo h2{
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight:bolder;
    letter-spacing: 2px;
    padding: 5px 0 15px 0;
}

#logo > h2 > span{
    color: var(--primary-1-color);
}

/*banner style*/
#banner{
    background: url("./banner1.jpeg") no-repeat center center/cover ;
    width: 100%;
    height: 30rem;
    

}

#banner  h1 {

    text-align: center;
    padding: 60px 0 20px;
    align-items: center;
    color: var(--text-color);
    font-size: 3rem;
    height:100%;
    width:inherit;
    /*position: absolute;
    top: 0;
    left: 0;*/
    background-color: rgba(62, 223, 62, 0.39);


}


<style type="text/css">

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    margin: 0;
}

table{
    border-spacing: 0;

}

td{
    padding: 0;

}

img{
    border: 0;
}

a{ 
    text-decoration: none;

}

.wrapper{
    width: 100%;
    table-layout: fixed;
    background-color: #91f191;
    padding-bottom: 60px;
}

.main{
    width: 100%;
    max-width: 600px;
    background-color: #ffffff80;
    font-family: sans-serif;
    color: #4a4a4a;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.two-columns{
    text-align: center;
}

.two-columns .column{
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;


}

.two-columns .column1{
    float: left;
    
}

.two-columns .column2{
    float: right;
}
.social-media{
    padding: 12px 0 12px 62px;
}

.social-media ul{
    list-style: none;
    float: leftt;
}

.social-media ul li{
    float: left;
    padding: 20px;
}
.social{
    width: 38px;
}




</style>